
body{
	background-color: white;
	font-family: 'Arial';  
	font-weight: 700;
	width: 100%;
	margin:auto;
}

#close{
	display: none;
}
.modalMain{
	color: white!important;
	font-size: 35px;
	font-weight: 700!important;
}
.modalIn{
	color: gold!important;
	padding: 0!important;
	font-size: 20px!important;
	font-weight: 700!important;
}
.btn4{
	padding: 5px 0!important;
}
.btn3 p{
	padding: 5px 5px!important;
}
.menu-bar{
	display: none;
}

.pd-0{
	padding: 0!important;
}

#blacklogo{
	display: none;
}
.a-i-c{
	align-items: center;
}
.none-dd{
	display: none;
}
.container1{
	width: 90%;
	margin: auto;
}
header{
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0)100%);
	z-index: 10000;
	width: 100%;
	background-color: transparent;
	position: fixed;
}
.d-flex-d{
	display: flex;
}
.d-flex{
	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
}

#li-1{
	text-align: center;
  	background: url(../img/koncert.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}

#li-2{
	text-align: center;
  	background: url(../img/cinema1.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}

#li-3{
	text-align: center;
  	background: url(../img/theatre.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}

#li-4{
	text-align: center;
  	background: url(../img/casino.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}

#li-5{
	text-align: center;
  	background: url(../img/stadium-main.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}

#li-6{
	text-align: center;
  	background: url(../img/atraction.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}
#li-7{
	text-align: center;
  	background: url(../img/rest2.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}
#li-8{
	text-align: center;
  	background: url(../img/circus1.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}
#li-9{
	text-align: center;
  	background: url(../img/resort1.jpg);
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
}

.headerContent div{
	padding: 0 24px;
	font-size: 15px;
	color: white !important;
	text-decoration: none !important;
}
.headerContent a{
	color: white;
	text-decoration: none !important;
}
.headerContent a:hover{
	padding-bottom: 5px;
	border-bottom: 2px solid gold;
	transition: 0.3s;
	color: white;
}
.headerContent{
	padding-top: 20px;
	color: white;
	padding-bottom: 20px;
	padding-left: 100px!important;
}

.headerLinks{
	margin: 0;
	font-size: 14.5px;
}
#mg-1{
	margin: 0;
}

.text10{
	color: white;
	padding: 0px;
	margin: 0;
	font-weight: 700;
}
.iconPhone{
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: gold;
	border-radius: 10px 0 0 10px;
	border-right: 0;
	margin-top: 5px;
}
.inp-width{
	width: 87%;
}
.icon-width{
	padding: 12px;
	width: 13%;
}
.btn-width{
	width: 100%
}
.iconName{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: gold;
	border-radius: 10px 0 0 10px;
	border-right: 0;
}

.headerDiv{
	display: flex;
	align-items: center;
}

.text{
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}
.text p{
	font-size: 25px;
	padding-top: 30px;
	font-weight: 10;
	color: #666;
}

.text2{
	text-align: center;
	color: black;
	font-size: 35px;
}

.textLast{
	text-align: center;
}
.mainText3{
	font-size: 40px;
	color: black;
}

.inText3{
	padding-top: 50px;
	font-size: 25px;
	font-weight: 100;
	color: #666;
}

.section2{
	padding: 100px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-color: white;
}

img{
	width: 100%;
}

.image{
	height: 250px;
	width: 400px;
}

.wg2{
	padding-left:10px;
}

.work1{
	text-align: center;
}

.work2{
	text-align: center;
}

.mainText{
	font-size: 35px;
	font-weight: 600;
	color: black;
}

.m-0{
	margin: 0;
	padding: 0!important;
}

.inText{
	font-size: 25px;
	font-weight: 10;
	color: #666;
	padding-top: 50px;
}

.text3{
	border-bottom: 2px solid black;
	width: 235px;
}

.text4{
	padding-top: 50px;
}

.image1{
	width: 300px;
	height: 300px;
}

.section1{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 100px 0px;
	width: 100%;
	background-color: white;
}

.section5{
	text-align: center;
}

.div2{
	padding-top: 30px;
}

.text5{
	text-align: center;
	border-bottom: 2px solid black;
}

.section3{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: white;
}

.forText1{
	text-align: center;
	font-size: 20px;
}

.prem{
	margin: auto;
	height: 150px;
	width: 150px;
}

.forText2{
	text-align: center;
}
.forText3{
	text-align: center;
}
.div5{
	width: 150px;
	height: 2px;
	background-color: grey;
}
.image3{
	width: 250px;
	height: 250px;
	float: right;
}
.div6{
	padding-top: 70px;
}
.forDiv10{
	border-left: 2px solid black;
	margin-top: 50px;
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: 50px;
	height: 100px; 
}
.forDiv11{
	padding-top: 10px;
}

.section4{
	background-color: yellow;
}

.div7{
	padding-top: 50px;
}
.line{
	background-color: gold;
	height: 2px;
}
.h-1{
	height: 1px;
}
.j-s-c-c{
	justify-content: center;
}
footer{
	background-color: black;
}
.footerContent{
	padding: 10px 0px;
}
.buy{
	height: auto;
	width: 100%;
}
.m-buy{
	margin-left: -20px;
}
.oport{
	padding: 60px 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.section10{
	background-color: white;
	padding: 60px 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: rgba(0,0,0,0.3) !important;	
}
.modal-form{
	padding-top: 20px;
}
.inputs input{
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	padding-right: 0;
	border-radius: 0 10px 10px 0;
	border: 1px solid gold;
	border-left: 0;
	outline: none;
	font-size: 19px;
	color: white;
}
.inputs-modal input{
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	padding-right: 0;
	border-radius: 0 10px 10px 0;
	border: 1px solid gold;
	border-left: 0;
	outline: none;
	font-size: 18px;
	color: white;
}
.zayavka{
	background: url(../img/bg-1.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.zayavkaText{
	padding-top: 0px;
}

.mainZayavka{
	font-size: 35px;
	color: gold;
	text-shadow: 2px 1px 3px rgba(0, 6, 0, 1);
}

.inZayavka{
	font-size: 25px;
	text-shadow: 2px 1px 3px rgba(0, 6, 0, 1);
	color: white;
}

.buttonZayavka{
	padding-top: 5px!important;
	margin: 0;
}
.ability{
	text-align: center;
}

.abilityCont{
	border: 1px solid #444;
	text-align: center;
}
.abilityCont img{
	height: 80px;
	width: 80px;
}
.abilityInfinity{
	padding-top: 15px;
}

.abilityMain{
	font-size: 20px;
	color: black;
}

.abilityIn{
	font-weight: 100;
	font-size: 17px;
	color: #444;
}

.abilityMainPad{
	padding-top: 30px;
}

.abilityInPad{
	padding-top: 13px;
}

.abilityContTop{
	padding-top: 20px;
	margin-top: 50px;
	padding-bottom: 20px;
}

.abilityContTop2{
	padding-top: 20px;
	margin-top: 15px;
	padding-bottom: 20px;
}

.abilityContPad{
	margin-left: 15px;
}
.zayavka1{
	position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
	background: url(../img/bg-1.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.zayavka1:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
.tb{
    display: table;
    width: 100%;
    height: 100%;
}
.tb-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
.tb-modal {
    display: inline-block;
    padding: 50px;
    max-width: 50em;
    background: #607d8b;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #cfd8dc;
    text-align: center;
}
.closes {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #cfd8dc;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;
}
.closes:after {
    display: block;
    border: 2px solid #cfd8dc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
/* кнопка закрытия при наведении */
 
.closes:hover:after {
    border-color: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.souyz{
	padding: 40px 0; 
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

button{
	background-color: gold;
	border: 0;
	margin: 0;
	border-radius: 10px;
	color: black !important;
	outline: none !important;
	border: 1px solid gold;
	cursor: pointer;
}

button:hover{
	transition: 0.4s;
	background-color: rgba(0,0,0,0.8);
	color: gold !important;
}

.inputPhone{
	padding-top: 5px;
}

.iconName{
}
.iconName img{
	height: 25px;
	width: 25px;
	padding: ;
}


button p{
	margin: 0;
	padding: 15px 0px;
	font-size: 20px;
	font-weight: 700;
}

::-webkit-input-placeholder {
    color: #efefef;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.contacts{
	font-size: 35px;
	color: black;
}
.p-contacts{
	padding-top: 50px;
}
.address{
	font-size: 25px;
}
.addressCont{
	padding-left: 10px;
	font-weight: 100;
	font-size: 20px;
	color: #555;
}
.phone{
	font-size: 25px;
	padding-top: 10px;
}
.phoneCont{
	font-size: 20px;
	padding-left: 5px;
	font-weight: 100;
	color: #555;
}
.email{
	font-size: 25px;
	padding-top: 10px;
}
.emailCont{
	font-size: 20px;
	padding-left: 10px;
	font-weight: 100;
	color: #555;
}
.m-money{
	margin-left: 30px;
}
.places{
	width: 100%;
	height: auto;
}
.m-places{
	margin-top: 30px;
}

.system{
	width: 100%;
	height: auto;
}
.m-system{
	padding-top: 120px;
}
.check{
	width: 100%;
	height: auto;
}

.iconSMS i{
	padding-top: 3px; 
	font-weight: bold;
}

.footerContent p{
	color: white;
	margin: 0;
	font-weight: 100;
	font-size: 17px;
	margin-left: 50px;
}
.div8{
	padding-top: 40px;
}
@media only screen and (max-width: 575px) {
	.div8{
		padding-top: 50px;
	}
	.div6{
		padding-top: 50px;
	}
}
 
.oplataForMoney {
	margin-left: 100px;
	font-size: 20px; 
	font-weight: bold;
}

.oplata {
	width: 50px;
	height: 2px;
	background-color: black;
}
@media (max-width: 2561px){	
	.headerContent{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.headerLinks{
		font-size: 25px;
	}
	.cd-slider-nav a{
		font-size: 20px;
	}
	.adpv-width{
		width: 70%;
	}
	.system{
		width: 70%;
	}
}
@media (max-width: 2102px){	
	.headerContent{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.headerLinks{
		font-size: 20px;
	}
	.cd-slider-nav a{
		font-size: 20px;
	}
	.adpv-width{
		width: 70%;
	}
	.system{
		width: 70%;
	}
}
@media (max-width: 1921px){	
	.headerContent{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.headerLinks{
		font-size: 16px;
	}
	.cd-slider-nav a{
		font-size: 16px;
	}
	.adpv-width{
		width: 80%;
	}
	.system{
		width: 80%;
	}
	.headerContent{
    	padding-left: 50px!important;
    	padding-right: 0px!important;
	}
}


@media (max-width: 1692px){
	.headerContent{
		padding-left: 50px!important;
	}
}
@media (max-width: 1597px){
	.headerContent{
		padding-left: 50px!important;
	}
}
@media (max-width: 1492px){
	.headerDiv{
		padding-left: 50px;
		flex: 0 0 20.666667%;
   		max-width: 20.666667%;
	}
	.none-d-768{
		display: none;
	}
	.headerContent{
		-ms-flex: 0 0 78%;
    	flex: 0 0 78%;
    	max-width: 78%;
    	padding-left: 440px!important;
    	padding-right: 0px!important;
	}
}
@media (max-width: 1255px){	
	.mainZayavka{
		font-size: 37px;
	}
	.inZayavka{
		font-size: 25px;
	}
	.none-d-768{
		display: none;
	}
	.headerDiv{
		padding-left: 50px;
		flex: 0 0 20.666667%;
   		max-width: 20.666667%;
	}
	.headerContent{
		-ms-flex: 0 0 78%;
    	flex: 0 0 78%;
    	max-width: 78%;
    	padding-left: 380px!important;
    	padding-right: 0px!important;
	}
}
@media (max-width: 1197px){	
	.none-d-768{
		display: none;
	}
	.headerDiv{
		padding-left: 50px;
		flex: 0 0 20.666667%;
   		max-width: 20.666667%;
	}
	.headerContent{
		-ms-flex: 0 0 76%;
    	flex: 0 0 76%;
    	max-width: 76%;
    	padding-left: 300px!important;
    	padding-right: 0px!important;
	}
}
@media (max-width: 1105px){	
	.headerDiv{
		padding-left: 50px;
		flex: 0 0 20.666667%;
   		max-width: 20.666667%;
	}
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 200px!important;
    	padding-right: 0px!important;
	}
	.mainZayavka{
		font-size: 32px;
	}
	.inZayavka{
		font-size: 20px;
	}
	.zayavkaText{
		flex: 0 0 56.666667%;
    	max-width: 56.666667%;
	}
	.inputs{
		flex: 0 0 43.333333%;
    	max-width: 43.333333%;
	}
}
@media (max-width: 1024px){

	.none-d{
		display: none;
	}
	.abilityContTop{
		padding-bottom: 0px;
	}
	.abilityCont{
		flex: 0 0 23.83333%!important;
    	max-width: 23.83333%!important;
	}
	.abilityContPad{
		margin-left: 14px;
	}
	.abilityMainPad{
		padding-top: 15px;
	}
	.abilityContTop2{
		padding-bottom: 0;
	}
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 180px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 20px;
	}
	.ticket{
		font-size: 40px!important;
	}
	.ticket-type{
		font-size: 40px !important;
	}
	.text a{
		padding: 0 12px !important;
		font-weight: 600;
		font-size: 11px;
	}
	.mainText{
		font-size: 30px;
	}
	.text2{
		font-size: 36px;
	}
	.inText{
		font-size: 25px;
	}
	.text p{
		font-size: 25px;
	}
	.ability p{
		font-size: 36px;
	}
	.mainZayavka{
		font-size: 36px;
	}
	.inZayavka{
		font-size: 20px;
	}
	button p{
		font-size: 18px;
		padding: 7px 0px;
	}
	.iconPhone i{
		font-size: 25px !important;
	}
	.mainText3{
		font-size: 36px;
	}
	.inText3{
		font-size: 25px;
	}
	.contact{
		-ms-flex: 0 0 41.666667%;
   	 	flex: 0 0 41.666667%;
   		max-width: 41.666667%;
	}
	.contacts{
		font-size: 36px;
	}
	.address{
		font-size: 22px;
	}
	.phone{
		font-size: 22px;
	}
	.email{
		font-size: 22px;
	}
	.cl-05{
		-ms-flex: 0 0 4.166666%;
    	flex: 0 0 4.166666%;
   		 max-width: 4.166666%;
	}
	.div1{
		-ms-flex: 0 0 91.666667%;
    	flex: 0 0 91.666667%;
   		max-width: 91.666667%;
	}
}	
@media (max-width: 972px){
	.mainZayavka{
		font-size: 32px;
	}
	.inText{
		font-size: 18px;
	}
}
@media (max-width: 958px){
	.abilityContPad{
		margin-left: 14px;
	}
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 160px!important;
    	padding-right: 0px!important;
	}
}
@media (max-width: 900px){
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 130px!important;
    	padding-right: 0px!important;
	}
}
@media (max-width: 877px){
	.mainZayavka{
		font-size: 28px;
	}
	.inText{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 100px!important;
    	padding-right: 0px!important;
	}
}
@media (max-width: 826px){
	.btn1{
		font-size: 18px!important;
		padding: 15px 15px;
	}
	.headerLinks{
		font-size: 13px;
		font-weight: 700;
	}
	.none-d-768{
		display: none;	
	}
	.headerDiv{
		padding-left: 35px!important;
		-ms-flex: 0 0 25.8%;
    	flex: 0 0 25.8%;
    	max-width: 25.8%;
	}
	.zayavkaText{
		text-align: center;
		flex: 0 0 100%;
   		max-width: 100%;
	}
	.inputs{
		flex: 0 0 70%;
   		max-width: 70%;
	}
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 140px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		font-size: 14px;
		font-weight: normal;
	}
	.cl-05{
		-ms-flex: 0 0 4.166666%;
    	flex: 0 0 4.166666%;
   		 max-width: 4.166666%;
	}
	.div1{
		 -ms-flex: 0 0 91.666667%;
    	flex: 0 0 91.666667%;
   		 max-width: 91.666667%;
	}
	.ticket{
		font-size: 35px!important;
	}
	.ticket-type{
		font-size: 35px !important;
	}
	.inputs input{
		padding-right: 0px;
	}
	button p{
		padding: 7px 0px;
	}
	.iconPhone{
		padding: 10px 11px;
	}
	.iconPhone i{
		font-size: 24px!important;
	}
	.m-system{
		padding-top: 50px;
	}
	.mainText{
		font-size: 25px;
	}
	.text2{
		font-size: 28px;
	}
	.inText{
		padding-top: 20px;
		font-size: 18px;
	}
	.adaptive{
		font-size: 23px;
	}
	.adaptive1{
		font-size: 26px;
	}
	.text p{
		font-size: 25px;
	}
	.ability p{
		font-size: 26px;
	}
	.mainZayavka{
		font-size: 25px;
	}
	.inZayavka{
		font-size: 15px;
	}
	.section5{
		margin: 0px;
		padding-left: 0px; 
	}
	.abilityMain{
		font-size: 16px;
	}
	.abilityIn{
		font-size: 14px;
	}
	.abilityContPad{
		margin-left: 12px;
	}
	.col-md-23{
		padding-right: 5px;
		padding-left: 5px;
	}
	.mainText3{
		font-size: 26px;
	}
	.inText3{
		font-size: 20px;
		padding-top: 30px;
	}
	.contact{
		padding-right: 0px !important;
	}
	.contacts{
		font-size: 25px;
	}
	.p-contacts{
		padding-top: 20px;
	}
	.address, .phone, .email{
		font-size: 18px;
	}
	.addressCont, .phoneCont,.emailCont{
		padding-top: 3px;
		font-size: 15px;
	}
}
@media(max-width: 785px){
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 70%;
    	max-width: 70%;
    	padding-left: 90px!important;
    	padding-right: 0px!important;
	}
}

@media (max-width: 768px){
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
	.section10{
		padding: 20px 0;
	}
	#map{
		height: 350px;
	}
	.headerLinks{
		font-size: 13px;
		font-weight: 700;
	}
	.none-d-768{
		display: none;	
	}
	.headerDiv{
		padding-left: 35px!important;
		-ms-flex: 0 0 25.8%;
    	flex: 0 0 25.8%;
    	max-width: 25.8%;
	}
	.headerContent{
		-ms-flex: 0 0 70%;
    	flex: 0 0 70%;
    	max-width: 70%;
    	padding-left: 95px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		font-size: 14px;
		font-weight: normal;
	}
	.cl-05{
		-ms-flex: 0 0 4.166666%;
    	flex: 0 0 4.166666%;
   		 max-width: 4.166666%;
	}
	.div1{
		 -ms-flex: 0 0 91.666667%;
    	flex: 0 0 91.666667%;
   		 max-width: 91.666667%;
	}
	.ticket{
		font-size: 35px!important;
	}
	.ticket-type{
		font-size: 35px !important;
	}
	.inputs input{
		padding-right: 0px;
	}
	button p{
		padding: 7px 0px;
	}
	.iconPhone{
		padding: 10px 11px;
	}
	.iconPhone i{
		font-size: 24px!important;
	}
	.m-system{
		padding-top: 50px;
	}
	.mainText{
		font-size: 25px;
	}
	.text2{
		font-size: 28px;
	}
	.inText{
		padding-top: 20px;
		font-size: 18px;
	}
	.adaptive{
		font-size: 23px;
	}
	.adaptive1{
		font-size: 26px;
	}
	.text p{
		font-size: 25px;
	}
	.ability p{
		font-size: 26px;
	}
	.mainZayavka{
		font-size: 25px;
	}
	.inZayavka{
		font-size: 15px;
	}
	.section5{
		margin: 0px;
		padding-left: 0px; 
	}
	.abilityMain{
		font-size: 16px;
	}
	.abilityIn{
		font-size: 14px;
	}
	.abilityContPad{
		margin-left: 11px;
	}
	.col-md-23{
		padding-right: 5px;
		padding-left: 5px;
	}
	.mainText3{
		font-size: 26px;
	}
	.inText3{
		font-size: 20px;
		padding-top: 30px;
	}
	.contact{
		padding-right: 0px !important;
	}
	.contacts{
		font-size: 25px;
	}
	.p-contacts{
		padding-top: 20px;
	}
	.address, .phone, .email{
		font-size: 18px;
	}
	.addressCont, .phoneCont,.emailCont{
		padding-top: 3px;
		font-size: 15px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.system1{
		padding: 0 150px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 150px;
	}
}
@media (max-width: 765px){
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 100px!important;
    	padding-right: 0px!important;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
}
@media (max-width: 737px){
	.section1{
		padding: 20px 0;
	}
	.m-system{
		padding-top: 0px; 
	}
	.abilityContPad{
		margin-left: 10px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 120px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 150px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 150px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}
@media (max-width: 687px){
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 75px!important;
    	padding-right: 0px!important;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
}
@media (max-width: 668px){
	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 9px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 70px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 120px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 120px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}
@media (max-width: 618px){
	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 8px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 60px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 120px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 120px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}
@media (max-width: 604px){
	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 8px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 45px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 120px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 120px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}
@media (max-width: 584px){
	.ticket{
		font-size: 25px!important;
	}
	.ticket-type{
		font-size: 25px!important;
	}
	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 8px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 30px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 120px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 120px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}
@media (max-width: 570px){
	.ticket{
		font-size: 25px!important;
	}
	.ticket-type{
		font-size: 25px!important;
	}
	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 8px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 20px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 12px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 120px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 120px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}

@media (max-width: 550px){
	.inputs{
		flex: 0 0 85%;
    	max-width: 85%;
	}
	.ticket{
		font-size: 25px!important;
	}
	.ticket-type{
		font-size: 25px!important;
	}
	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 8px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 10px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 11px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 120px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 120px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}

@media (max-width: 520px){
	.abilityMain{
		font-size: 11px;
	}
	.abilityIn{
		font-size: 12px;
	}

	.jsc-phone{
		justify-content: center;
	}
	.abilityContPad{
		margin-left: 7px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	.line{
		width: 30%;
	}

	.inText{
		text-align: center;
	}
	.mainText{
		text-align: center;
	}
	.headerDiv{
		padding-left: 20px!important;
	}
	.headerContent{
		flex: 0 0 74%;
    	max-width: 74%;
    	padding-left: 0px!important;
    	padding-right: 0px!important;
	}
	.headerContent div{
		padding: 0 16px;
	}
	.headerLinks{
		font-size: 10px;
	}
	.cd-slider-nav a{
		font-size: 12px;
	}
	.none-d-426{
		display: none;
	}
	.system1{
		padding: 0 80px;
		display: block!important;
		width: 100%;
		height: auto;
	}
	.adpv-width{
		padding: 0 80px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.jsc-phone{
		justify-content: center;
	}
	.h-text{
		text-align: center;
		padding-top: 20px;
	}
}
@media (max-width: 500px){
	#close{
		display: none;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-left: 185px;
	}
	#close i{
		font-size: 22px;
		color: white;
	}
	.menu-bar{
		display: block;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-left: 185px;
	}
	.menu-bar i{
		font-size: 22px;
		color: white;
	}
	.none-d-426{
		display: none;
	}
	.headerDiv{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 25px !important;
		padding-right: 0px!important;
		-ms-flex: 0 0 45.666667%;
    	flex: 0 0 45.666667%;
    	max-width: 45.666667%;

	}
	#menu{
		display: none!important;
	}
}
@media (max-width: 425px){
	.inputs{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.section10{
		padding: 20px 0 20px 0;
	}
	.adap{
		padding: 0 20px;
	}
	.inText3{
		padding: 30px 20px 0 20px;
	}
	.mainText3{
		padding: 0 20px;
	}

	.text p{
		font-size: 18px;
		padding: 30px 20px 0 20px;
	}
	.adaptive1{
		text-align: center;
		font-size: 23px;
	}
	.check{
		padding-left: 15px;
	}
	.m-system{
		padding: 0 30px 30px 30px!important;
	}
	.footerContent p{
		font-size: 15px!important;
		padding-left: 20px;
	}
	.text2{
		font-size: 25px;
		padding: 0 20px;
	}
	.zayavkaText{
		padding: 0!important;
	}
	.inText{
		text-align: center;
		font-size: 17px;
		padding: 30px 20px 0 20px;
	}
	.adaptive{
		text-align: center;
	}
	.mainText{
		text-align: center;
		padding: 0 20px;
	}
	.ability p{
		font-size: 25px;
	}
	.buy{
		padding: 0 30px;
	}
	.system1{
		padding: 0 30px;
	}
	.check{
		padding: 0 20px 0 35px;
	}
	.places{
		padding: 0 30px;
	}
	.contacts{
		text-align: center;
	}
}
@media (max-width: 426px){
	.icon-width{
		width: 15%;
	}
	.inp-width{
		width: 85%;
	}
	.btn1{
		font-size: 18px!important;
		padding: 12px 15px!important;
	}
	#map{
		height: 300px;
	}
	.adpv-line{
		display: flex;
		justify-content: center;
	}
	#close{
		display: none;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-left: 185px;
	}
	#close i{
		font-size: 22px;
		color: white;
	}
	.menu-bar{
		display: block;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-left: 185px;
	}
	.menu-bar i{
		font-size: 22px;
		color: white;
	}
	.none-d-426{
		display: none;
	}
	.headerDiv{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 25px !important;
		padding-right: 0px!important;
		-ms-flex: 0 0 45.666667%;
    	flex: 0 0 45.666667%;
    	max-width: 45.666667%;

	}
	#menu{
		display: none!important;
	}
	.ticket{
		font-size: 25px!important;
	}
	.ticket-type{
		font-size: 30px!important;
	}
	.div1{
	    flex: 0 0 100%;
    	max-width: 100%;
	}
	.section2{
		padding: 50px 0;
	}
	.section1{
		padding: 50px 0;
	}
	.m-buy{
		margin: 0px!important;
	}
	.system1{
		display: block!important;
		width: 100%;
		height: auto;
	}
	.inputs{	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		margin-left: 0 !important;
		text-align: center;
	}
	.zayavka{
		padding: 50px 0;
	}
	.inZayavka{
		font-size: 12px;
	}
	.zayavkaText{
		padding-top: 0px;
		text-align: center;
	}
	.m-money{
		margin-left: 0px!important;
	}
	.abilityCont{
		flex: 0 0 100%!important;
    	max-width: 100%!important;
	}
	.abilityContPad{
		margin-left:0!important;
	}
	.abilityCont{
		padding: 50px 15px;
		margin-top: 20px;
	}
	.abilityMain{
		font-size: 20px;
	}
	.abilityIn{
		font-size: 18px;
	}
	.footerContent p{
		margin-left: 0px;
	}
	.contact{
		 flex: 0 0 100%;
    	max-width: 100%;
	}
	.h-text{
		padding-top: 20px;
		text-align: center;
	}
	.line{
		width: 30%;
	}
	.jsc-phone{
		justify-content: center;
	}
}
@media (max-width: 415px){
	.menu-bar{
		padding-left: 165px;
	}
	#close{
		padding-left: 165px;
	}
	.ticket-type{
		font-size: 26px!important;
	}
}
@media (max-width: 375px){
	.inText3{
		font-size: 18px;
	}
	.text2{
		font-size: 21px;
	}
	.text p{
		font-size: 18px;
		padding-top: 10px;
	}
	.inText{
		font-size: 18px;
	}
	.mainText3{
		font-size: 20px;
	}
	.contacts{
		font-size: 20px;
	}
	.ability p{
		font-size: 20px;
	}
	.mainText{
		font-size: 20px;
	}
	.adaptive{
		font-size: 20px;
	}
}
@media (max-width: 361px){
	.menu-bar{
		padding-left: 155px;
	}
	#close{
		padding-left: 155px;
	}
	.mainZayavka{
		font-size: 24px;
	}
}
@media (max-width: 321px){
	.menu-bar{
		padding-left: 135px;
	}
	#close{
		padding-left: 135px;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 0!important;
		padding-left: 0!important;

	}
	.inputs input{
		font-size: 15px;
	}
	.iconPhone i{
		font-size: 22px!important;
	}
	.iconName{
		padding: 10px 11px;
	}
	.iconName img{
		width: 17.5px!important;
		height: auto!important;
	}
	button p{
		padding: 7px 0px;
	}
	.mainZayavka{
		font-size: 20px;
	}
	.inZayavka{
		font-size: 11px;
	}
	.mainText3{
		font-size: 24px;
	}
	.addressCont, .phoneCont, .emailCont{
		font-size: 14px;
	}
	.ability p{
		font-size: 24px;
	}
	.mainText{
		font-size: 24px;
	}
	.text2{
		font-size: 24px;
	}
	#btn p{
		padding: 10px 20px!important;
	}
	.ticket{
		font-size: 20px!important;
	}
	.ticket-type{
		font-size: 22px!important;
	}
	.abilityCont{
		padding: 25px 15px;
	}
}
@media (max-width: 320px){
	.inText{
		font-size:17px!important;
	}

	.inText3{
		font-size: 17px!important;
	}
	.ability p{
		font-size: 20px!important;
	}
	.mainText{
		font-size: 20px!important;
	}
	.text p{
		font-size: 17px!important;
	}
	.text2{
		font-size: 20px!important;
	}
	.abilityIn {
		font-size: 17px!important;
		padding-top: 10px;
	}
}
